<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="userSettings" type="MSFSModManager.GUI.Settings.UserSettingsSection, fsmodm.GUI, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToRoamingUser" />
    </configSections>
    <appSettings />
</configuration>
